@import url('https://necolas.github.io/normalize.css/7.0.0/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

*, 
*:before, 
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #d3d3d3;
    color: #153550;
    font: 16px/1.5 'Open Sans', sans-serif;
}

header {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 5px solid #e65a4f;
}

h1, h2, .page-title {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

header h1,
.page-title {
    margin: 0;
    padding: 0.5em 10%;
    font-size: 3em;
}

.page-title {
    font-size: 1.75em;
 }

.table-content h1 {
    font-size: 2.5em;
    line-height: 1em;
}

nav {
    text-align: center;
    margin: 3em 10%;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

li a {
    display: block;
    margin: 5px 0;   
    padding: 0.5em 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 1.5em;
}

a {
    color: #153550;
    text-decoration: none;
}

a:hover {
    background-color: #eee;
    color: #e65a4f;
}

/* Subpages
***************/

.table-content {
    margin: 0 10% 3%;
    line-height: 1.2;
}


table {
    background-color: #aaa;
    margin: 1em 0 3em;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #aaa;
}

th {
    color: #fff;
    font-weight: normal;
}

td, 
th {
    border: 2px solid #d3d3d3;
    border-top: none;
    padding: 0.5em;
    text-align: center;
    
}

th:first-child, 
td:first-child{
    border-left: none;
}

th:last-child, 
td:last-child {
    border-right: none;
}

td {
    background-color: #fff;
}

tbody tr:hover td {
    background-color: #eee;
}

.back-btn {
    margin: 1em 0 1em;
    padding: 0.5em;
    background-color: #eee;
}

.back-btn:hover {
    background-color: #fff;
}