@import url('https://necolas.github.io/normalize.css/7.0.0/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Titillium+Web');

*, 
*:before, 
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #d3d3d3;
    color: #333;
    font: 16px/1.5 'Open Sans', sans-serif;
}

header {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 6px solid red;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

h1 {
    margin: 0;
    padding: 0.5em 10%;
    font-size: 3.2em;
}

h2 {
    fon-size: 2.5em;
}

nav {
    text-align: center;
    margin: 3.75em 10%;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav ul li {
    font-size: 1.5em;
    background-color: #fff;
    margin: 5px 0;
    padding: 0.5em 0;
}

a {
    color: #333;
    text-decoration: none;
}

nav ul li:hover {
     background-color: #eee;
}

a:hover {
    color: red;
}


.table-content {
    margin: 0 10% 3%;
    line-height: 1.2;
}


table {
    background-color: #aaa;
    margin: 1em 0 2em;
    width: 100%;
}

thead {
    background-color: #d3d3d3;
}

th {
    color: #333;
    font-weight: normal;
}

td, 
th {
    padding: 0.5em;
    text-align: center;
}

td {
    background-color: #fff;
}
tbody tr:hover td {
    background-color: #eee;
}

.back-btn {
    margin: 1em 0 1em;
    padding: 0.5em;
    background-color: #eee;
}

.back-btn:hover {
    background-color: #fff;
}