<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Application process</title>
    </head>

    <body>
        <header>
            <h1>Application process 2.0</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/mentors">Mentors</a></li>
                <li><a href="/all-school">All School</a></li>
                <li><a href="/mentors-by-country">Mentors by Country</a></li>
                <li><a href="/contacts">Contacts</a></li>
            </ul>
            </ul>
        </nav>

    </body>

</html>